@import "tailwindcss";

@theme {
    --color-primary: #1ce479;
    --color-secondary: #9ca3af;
    --color-background: #0a0a0f;
}

/* 기본 글로벌 스타일 */
* {
    @apply antialiased;
    font-family: "Archivo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-white text-gray-900;
}

/* 커스텀 스타일이 필요하면 여기 아래에 추가 */
